<div class="navbar navbar-light bg-light">
  <ul class="nav nav-pills app-nav">
    <li class="nav-item" *ngIf="fullname === ''">
      <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item" *ngIf="fullname !== ''">
      <a class="nav-link" routerLink="/main" routerLinkActive="active">Main</a>
    </li>
    <li class="nav-item" *ngIf="fullname === ''">
      <a class="nav-link" routerLink="/registration" routerLinkActive="active">Registration</a>
    </li>
  </ul>
  <span class="navbar-brand" *ngIf="fullname !== ''" (click)="logout()">{{fullname}}</span>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <div class="alerts">
    <div class="alert alert-dismissible" *ngFor="let alert of alerts"
         [ngClass]="alert.severity">
      <span class="close" (click)="close(alert.id)">&times;</span>
      {{alert.message}}
    </div>
  </div>
</div>
