<div class="row" style="margin-top: 50px">
  <div class="col-6">
    <ul class="list-group">
      <li *ngFor="let message of messages$ | async" class="list-group-item">
        {{message.content}}
        <small class="text-right text-muted form-text">{{message.user}}</small>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Wiadomość</label>
      <textarea class="form-control" [(ngModel)]="content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="sendMessage()">Wyślij wiadomość</button>
    </div>
  </div>
</div>
