<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="regForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control" required>
        <small class="text-muted form-text" [hidden]="hidden('name')">Pole wymagane</small>
      </div>
      <div class="form-group">
        <label>Lastname</label>
        <input type="text" formControlName="lastname" class="form-control" required>
        <small class="text-muted form-text" [hidden]="hidden('lastname')">Pole wymagane</small>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" required>
        <div [hidden]="hidden('email')">
          <small class="text-muted form-text" *ngIf="regForm.get('email').hasError('required')">Pole wymagane</small>
          <small class="text-muted form-text" *ngIf="regForm.get('email').hasError('email')">Nieprawidłowy email</small>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" required>
        <div [hidden]="hidden('password')">
          <small class="text-muted form-text" *ngIf="regForm.get('password').hasError('required')">Pole wymagane</small>
          <small class="text-muted form-text" *ngIf="regForm.get('password').hasError('minlength')">Za krótkie hasło</small>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <button class="btn btn-primary" (click)="saveUser()" [disabled]="regForm.invalid">Dodaj użytkownika</button>
  </div>
</div>
