<div class="row justify-content-center">
  <div class="col-6">
    <form #loginForm="ngForm">
      <div class="form-group">
        <label>Email</label>
        <input name="email" type="text" [(ngModel)]="loginData.email" placeholder="email" required #email="ngModel" class="form-control">
        <p *ngIf="email.touched && !email.valid">To pole jest wymagane</p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" [(ngModel)]="loginData.password" placeholder="password" required #password="ngModel" class="form-control">
        <p *ngIf="password.touched && !password.valid">To pole jest wymagane</p>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <button [disabled]="!loginForm.form.valid" (click)="logIn()" class="btn btn-primary">Submit form</button>
    <button (click)="loginForm.reset()" class="btn btn-warning">Reset form</button>
  </div>
</div>
